body{
    background-color:lightblue;
    color:black;
}
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    padding: 20px;
    margin: 30px auto;
    border: 2px solid black;
}
.profile-card button:hover{
    background-color: black;
    color: white;
}
.profile-card button {
    transition: 0.3s;
}
.profile-card h2{
    margin: 0;
}
.profile-card p{
    margin: 0;
}
h1{
    color:black;
    text-align:center;
}
p{
    color:red;
    font-size:20px;
}
ol{
    color:blue;
}
form{
    color:black;
    width:300px;
    padding:70px;
    margin: 20px auto ;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content:center;      
    align-items: center;
}
table,th,td{
    color:black;
    border:2px solid white;
    text-align:center;
    
}
footer {
    text-align: center;
    font-size: 18px;
}
